<ion-header [translucent]="true">
  <ion-toolbar style="display: flex; flex-direction: column; align-items: stretch; --background: white;">

    <!-- Top Row: Logo and Icons -->
    <div style="display: flex;padding-top: 30px;">
      <ion-title>
        <h2 style="color:#FF1414;font-family: Montserrat-bold;font-size:20px">TELLDEMM</h2>
      </ion-title>

      <ion-buttons slot="end" style="display: flex;margin-right: 10px;">
        <ion-button fill="clear">
          <img src="assets/images/qr-code.svg" style="width: 24px; height: 24px;" />
        </ion-button>
        <ion-button fill="clear">
          <img src="assets/images/camera.svg" style="width: 24px; height: 24px;" />
        </ion-button>
        <ion-button (click)="presentPopover($event)">
          <img src="assets/images/dots (1).svg" style="width: 24px; height: 24px;" />
        </ion-button>
      </ion-buttons>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p class="Your">Your Status</p>
    <div style="display: flex;margin-left: 16px;justify-content: space-between;">
      <div class="image-wrapper" *ngFor="let item of [].constructor(7)">
        <img src="assets/images/Rectangle 24.svg" alt="Rectangle-img" />
        <img src="assets/images/Ellipse 9.svg" alt="Ellipse-img" class="Ellipse" />
      </div>
    </div>

    <!-- <ion-slides [options]="slideOpts" style="display: flex;margin-left: 16px;justify-content: space-between;">
      <ion-slide *ngFor="let item of [].constructor(5)">
        <div class="image-wrapper">
          <img src="assets/images/Rectangle 24.svg" alt="Rectangle-img" />
          <img src="assets/images/Ellipse 9.svg" alt="Ellipse-img" class="Ellipse" />
        </div>
      </ion-slide>
    </ion-slides> -->

    <div style="display: flex;justify-content: space-between;align-items: center;">
      <p class="Status">Channels</p>
      <p class="Explore" (click)="toggleIcon()">
        Explore
        <ion-icon name="chevron-forward-outline" [class.rotate]="isRotated"></ion-icon>
      </p>
    </div>

    <ion-list>
      <ion-item *ngFor="let chat of filteredChats" (click)="openChat(chat)">
        <ion-avatar slot="start">
          <img src="assets/images/user.jfif" />
        </ion-avatar>
        <ion-label>
          <p class="chat-message">{{ chat.name }}</p>
          <p [style.color]="chat.unread ? '#FF1414' : '#444343'">
            <!-- <ng-container [ngSwitch]="chat.messageStatus">
              <img *ngSwitchCase="'sent'" src="assets/images/read.svg" class="tick-icon" alt="Sent" />
              <img *ngSwitchCase="'seen'" src="assets/images/double-tick.svg" class="tick-seen" alt="Seen" />
            </ng-container> -->
            {{ chat.message }}
          </p>
        </ion-label>
        <div slot="end" class="chat-meta">
          <p class="time">{{ chat.time }}</p>
          <ion-badge *ngIf="chat.unread">{{ chat.unreadCount }}</ion-badge>
        </div>
      </ion-item>
    </ion-list>

    <div>
      <p class="channels">Find channels to follow</p>

      <ion-list>
        <ion-item *ngFor="let chat of filteredchannels" (click)="openChat(chat)">
          <ion-avatar slot="start">
            <img src="assets/images/user.jfif" />
          </ion-avatar>
          <ion-label>
            <p class="chat-India">{{ chat.name }}</p>
            <p class="followers">{{ chat.followers }} followers</p>
          </ion-label>
          <div slot="end" class="chat-meta">
            <button>Follow Now</button>
          </div>
        </ion-item>
      </ion-list>

    </div>

  </div>
</ion-content>



<app-footer-tabs></app-footer-tabs>