<ion-content [fullscreen]="true" style="padding-top: 30px;">
  <div class="main">

    <div class="telldemm-img">
      <img src="assets/images/Frame 48.png" alt="">
    </div>

    <div class="welcome-main">
      <div class="welcome">
        <h2>Welcome to Telldemm</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>interdum, ligula odio viverra sapien, in molestie felis felis ac erat.
          Vestibulum auctor tellus ac ex vehicula, sed tincidunt lacus suscipit.
          Integer vel nisi id arcu tincidunt consectetur nec et metus.
          Duis non libero a justo vulputate vehicula non at felis.
        </p>
      </div>
    </div>

    <div class="button">
      <button (click)="goToLogin()">Continue</button>
    </div>

  </div>
</ion-content>