ion-content {
    --background: #ffffff;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.telldemm-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.telldemm-img img {
    max-width: 70%;
}

.welcome-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.welcome h2 {
    color: black;
    font-size: 26px;
    font-weight: bold;
    font-family: Montserrat-bold;
}

.welcome p {
    color: black;
    font-size: 18px;
    text-align: center;
    font-family: Montserrat-Medium;
}

.button {
    text-align: center;
}

.button button {
    width: 80%;
    height: 50px;
    border-radius: 15px;
    background: linear-gradient(175deg, rgba(239, 111, 101, 1) 0%, rgba(110, 25, 17, 1) 50%);
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat-bold;
    color: white;
}