<ion-content [fullscreen]="true" >
  <div class="main-icon-image">

    <div class="main-header">
      <p class="madhav">madhav kaushik</p>
      <p class="encrypted">End-to-end encrypted</p>
    </div>

    <div class="main-img">
      <img src="/assets/images/voiceimage.svg" alt="Profile">
    </div>

    <div class="icons-main">
      <div class="icons">
        <ion-icon name="ellipsis-horizontal" size="large"></ion-icon>
      </div>
      <div class="icons video-icon">
        <ion-icon name="videocam" size="large"></ion-icon>
      </div>
      <div class="icons">
        <ion-icon name="mic" size="large"></ion-icon>
      </div>
      <div class="icons">
        <ion-icon name="add" size="large"></ion-icon>
      </div>
      <div class="icons call-icon">
        <ion-icon name="call" size="large" style="transform: rotate(135deg);"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Calling Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Voice Call in Progress...</h2>
  <audio #localAudio autoplay muted></audio>
  <audio #remoteAudio autoplay></audio>
</ion-content> -->



