ion-toolbar {
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    --background: white;
    padding-top: 30px;
}

ion-title {
    margin: 0;
}

ion-button img {
    width: 24px;
    height: 24px;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.container {
    width: 92%;
}

#searchInput {
    width: 100%;
    height: 46px;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    color: black;
    border: 1px solid black;
}

ion-list {
    background: white;
}

ion-item {
    --padding-start: 10px;
    --inner-padding-end: 10px;
    --background: white;
    --color: black;
}

ion-item {
    --inner-border-width: 0px;
    --border-style: none;
    --border-width: 0;
}

.chat-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-meta .time {
    font-size: 12px;
    color: #999;
    margin: 0px;
}

.chat-message {
    color: #FF1414;
    font-family: Montserrat-Medium;
    font-size: 18px;
}

ion-badge {
    font-size: 10px;
    border-radius: 10px;
    height: 15px;
    color: white;
    background: #FF1414;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 8px;
    min-width: 70px;
}

.footer-link img {
    width: 24px;
    height: 24px;
}

.footer-link ion-label {
    font-size: 12px;
    text-align: center;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}