ion-toolbar {
    --background: white;
    width: 100%;
    height: 100%;
    --padding-top: 30px;
}

.ion-color-danger {
    --ion-color-base: #FF1414;
}

.chat-background {
    --background: url('/assets/images/chatbackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

