.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.profile-avatar {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.background {
    background: #ffffff !important;
    box-shadow: 0px 0px 8px 8px #94949429;
}

ion-toolbar {
    --background: #ffffff;
    color: black;
}

ion-title {
    text-align: center;
    font-size: 20px;
    font-family: Montserrat-bold;
}

/* Optional: style icons */
ion-icon {
    font-size: 30px;
    color: black;
}

ion-content {
    --background: white;
}

.main-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}

.main-provide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-main {
    width: 90%;
}

.Please {
    color: black;
    text-align: center;
    font-family: Montserrat-Medium;
    color: black;
    font-size: 18px;
}

.camera-main {
    display: flex;
    justify-content: center;
}

.camera-inner {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-inner img {
    width: 43%;
    height: 50px;
}

.line-main {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.line-content {
    border: none;
    color: black;
    outline: none;
    box-shadow: none;
    background: transparent;
    /* Optional, if you want no background */
    caret-color: black;
    /* Set cursor color */
    width: 70%;
}

.main-emoji {
    display: flex;
    align-items: flex-end;
    gap: 3px;
}

.emoji-text {
    color: #898181;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.main-emoji ion-icon {
    font-size: 25px;
}

.line {
    border: 1px solid rgba(255, 20, 20, 0.3411764706);
    width: 93%
}

.main-button {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 10;
  background: white;
}

.btn {
  width: 90%;
  height: 50px; 
  border-radius: 25px;
  padding: 0 20px;
  background: linear-gradient(175deg, rgb(239, 111, 101) 0%, rgb(110, 25, 17) 50%);
  font-family: Montserrat-bold;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: flex;               
  align-items: center;
  justify-content: center;
  gap: 10px;                   
  box-sizing: border-box;
}
