ion-content {
  --background: white;
  color: black;
}

ion-toolbar {
  --background: white;
}

.toolbar {
  --background: white;
}

.back-btn {
  color: black;
  width: 8%;
  margin-top: 15px;
}

.btn-main-icon {
  margin-top: 15px;
}

.custom-search-icon {
  --color: black;
  --background: transparent;
  padding: 2px;
  margin-right: 10px;
  font-size: 20px;
}

.all-icon-btn {
  color: black;
}

.call-dout-icon {
  font-size: 28px;
}

.user-real-name {
  margin: 0;
  font-size: 18px;
}

.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-list-header,
ion-label,
h2,
p {
  color: black;
}

h2 {
  font-size: 19px;
  text-align: left;
}

.green-icon {
  background-color: #ff1414;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
}
ion-icon {
  font-size: 26px;
}

ion-item {
  --background: white;
}

ion-label {
  color: black;
}

.contact-count {
  font-size: 0.9rem;
  padding-right: 10px;
  color: #ccc;
}
.list {
  background: white;
  margin-top: 20px;
}
.list2 {
  background: white;
  font-size: 20px;
}
.items {
  color: black;
}
.group {
  font-size: 19px;
}
.custom-search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin: 8px 12px;
  padding: 0 12px;
  height: 47px; 
  border: 1px solid #e5e5e5;
}

ion-input.custom-search-input {
  flex: 1;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: transparent;
  --placeholder-color: #999;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
}

ion-input.custom-search-input .native-input {
  border: none !important;
  box-shadow: none !important;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  line-height: normal !important;
}

.custom-search-input {
  --highlight-color-focused: transparent !important;
  --highlight-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.custom-search-toolbar {
  border-radius: 77px;
  height: auto;
  --background: white;
  width: 97%;
  margin: 4px;
  padding-top: 41px;
  margin-left: 7px;
}

ion-header {
  background-color: white;
  height: 11%;
  box-shadow: none;
  border-bottom: white;
}

.toolbar_screen {
  padding-top: 20px;
}
