<!-- <ion-header translucent="true">

  <ion-toolbar *ngIf="!showSearchBar" class="toolbar_screen">
    <ion-buttons class="back-btn" slot="start">
      <ion-back-button
        defaultHref="/home-screen"
        style="font-size: 20px"
      ></ion-back-button>
    </ion-buttons>

    <ion-buttons>
      <ion-item
        lines="none"
        detail="false"
        style="
          --padding-start: 0;
          --background: white;
          color: black;
          margin-top: 15px;
          margin-left: 20px;
        "
      >
        <ion-label class="user-name">
          <h2 class="user-real-name">Select contacts</h2>
          <h5>50 contacts</h5>
        </ion-label>
      </ion-item>
    </ion-buttons>

    <ion-buttons class="btn-main-icon" slot="end">
      <ion-button class="custom-search-icon" (click)="focusSearchBar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentContactMenu($event)" class="all-icon-btn">
        <ion-icon name="ellipsis-vertical" class="call-dout-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-toolbar *ngIf="showSearchBar" class="custom-search-toolbar">
    <div class="custom-search-container">
      <ion-icon
        name="arrow-back-outline"
        class="search-back-icon"
        (click)="toggleSearch()"
      ></ion-icon>
      <ion-input
        #searchInput
        [(ngModel)]="searchTerm"
        [type]="keyboardType"
        placeholder="Search name or number..."
        class="custom-search-input"
        (ionInput)="filterContacts()"
      ></ion-input>

      <ion-icon
        [name]="keyboardType === 'text' ? 'keypad-outline' : 'text-outline'"
        class="search-keyboard-icon"
        (click)="toggleKeyboardType()"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list" lines="none">
    <ion-item class="items">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="people-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">New group</ion-label>
    </ion-item>

    <ion-item class="items">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">New contact</ion-label>
      <ion-icon
        style="color: black"
        name="qr-code-outline"
        slot="end"
      ></ion-icon>
    </ion-item>

    <ion-item class="items">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">New community</ion-label>
    </ion-item>

    <ion-item class="items">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="sparkles-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">Chat with AIs</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label>Contacts on Telldemm</ion-label>
  </ion-list-header>

  <ion-list class="list2" lines="none">
    <ion-item *ngFor="let contact of filteredContacts">
      <ion-avatar slot="start">
        <img [src]="contact.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p *ngIf="contact.message">{{ contact.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->



<ion-header translucent="true">
  <ion-toolbar *ngIf="!showSearchBar" class="toolbar_screen">
    <ion-buttons class="back-btn" slot="start">
      <ion-back-button defaultHref="/home-screen" style="font-size: 20px"></ion-back-button>
    </ion-buttons>

    <ion-buttons>
      <ion-item lines="none" detail="false" style="--padding-start: 0; --background: white; color: black; margin-top: 15px; margin-left: 20px;">
        <ion-label class="user-name">
          <h2 class="user-real-name">Select contacts</h2>
          <h5>{{ allUsers.length }} contacts</h5>
        </ion-label>
      </ion-item>
    </ion-buttons>

    <ion-buttons class="btn-main-icon" slot="end">
      <ion-button class="custom-search-icon" (click)="focusSearchBar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentContactMenu($event)" class="all-icon-btn">
        <ion-icon name="ellipsis-vertical" class="call-dout-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="showSearchBar" class="custom-search-toolbar">
    <div class="custom-search-container">
      <ion-icon name="arrow-back-outline" class="search-back-icon" (click)="toggleSearch()"></ion-icon>
      <ion-input
        #searchInput
        [(ngModel)]="searchTerm"
        [type]="keyboardType"
        placeholder="Search name or number..."
        class="custom-search-input"
        (ionInput)="filterContacts()"
      ></ion-input>
      <ion-icon
        [name]="keyboardType === 'text' ? 'keypad-outline' : 'text-outline'"
        class="search-keyboard-icon"
        (click)="toggleKeyboardType()"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="list" lines="none">
    <ion-item class="items" (click)="startGroupCreation()">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="people-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">New group</ion-label>
    </ion-item>

    <ion-item class="items">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">New contact</ion-label>
      <ion-icon style="color: black" name="qr-code-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="items">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">New community</ion-label>
    </ion-item>

    <ion-item class="items">
      <ion-avatar slot="start" class="green-icon">
        <ion-icon name="sparkles-outline"></ion-icon>
      </ion-avatar>
      <ion-label class="group">Chat with AIs</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="creatingGroup" class="group-creator" style="padding: 12px">
    <ion-input [(ngModel)]="newGroupName" placeholder="Enter Group Name" style="margin-bottom: 12px"></ion-input>

    <ion-list>
      <ion-item *ngFor="let user of allUsers">
        <ion-label>{{ user.name }}</ion-label>
        <ion-checkbox [(ngModel)]="user.selected" slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button expand="full" color="primary" (click)="createGroup()">Create Group</ion-button>
  </div>

  <ion-list-header *ngIf="!creatingGroup">
    <ion-label>Contacts on Telldemm</ion-label>
  </ion-list-header>

  <ion-list class="list2" lines="none" *ngIf="!creatingGroup">
    <ion-item *ngFor="let contact of filteredContacts">
      <ion-avatar slot="start">
        <img [src]="contact.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p *ngIf="contact.message">{{ contact.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
