<!-- <div [ngClass]="{ 'blurred': showOtpPopup }" class="Lorem-main">
  <ion-header [translucent]="true" class="background" style="padding-top: 30px;">
    <ion-toolbar>
      <ion-title>Enter Your Mobile Number</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="Lorem-main">
      <div style="margin-top: 30px;">
        <div class="Lorem">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="main-dropdown">
          <select class="drop-down">
            <option value="">India</option>
            <option value="">USA</option>
            <option value="">UK</option>
          </select>
          <div class="underline-text"></div>
        </div>

        <div class="main-country">
          <div class="country-code">
            <p class="count-code">+91</p>
            <p class="underline-country"></p>
          </div>

          <div class="phone-wrapper">
            <input type="tel" maxlength="10" [(ngModel)]="phoneNumber" name="phone" style="text-align: left;"
              pattern="[0-9]*" inputmode="numeric" (keypress)="allowOnlyNumbers($event)" />

            <p class="underline-country"></p>
          </div>
        </div>

        <p *ngIf="phoneNumber && !isPhoneValid" class="required-line">
          Please enter a valid 10-digit mobile number.
        </p>
      </div>

      <div class="agree-div">
        <button [disabled]="!isPhoneValid" (click)="onAgreeClick()">Agree & Continue</button>
      </div>
    </div>
  </ion-content>
</div>


<div *ngIf="showOtpPopup" class="otp-popup-wrapper">
  <div class="backgrounds">
    <div class="opt">
      <p>Enter Your OTP</p>
    </div>

    <div class="border-line"></div>

    <div class="otp-input">
      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 0)"
        (keydown)="handleBackspace($event, 0)" (paste)="$event.preventDefault()" #otp0>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 1)"
        (keydown)="handleBackspace($event, 1)" (paste)="$event.preventDefault()" #otp1>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 2)"
        (keydown)="handleBackspace($event, 2)" (paste)="$event.preventDefault()" #otp2>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 3)"
        (keydown)="handleBackspace($event, 3)" (paste)="$event.preventDefault()" #otp3>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 4)"
        (keydown)="handleBackspace($event, 4)" (paste)="$event.preventDefault()" #otp4>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 5)"
        (keydown)="handleBackspace($event, 5)" (paste)="$event.preventDefault()" #otp5>
    </div>

    <div class="submit" style="margin-bottom: 30px;">
      <button [disabled]="!isOtpComplete()" (click)="goToHome()">Submit</button>
    </div>
  </div>
</div> -->



<!-- <div [ngClass]="{ 'blurred': showOtpPopup }" class="Lorem-main">
  <ion-header [translucent]="true" class="background" style="padding-top: 30px;">
    <ion-toolbar>
      <ion-title>Enter Your Mobile Number</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="Lorem-main">
      <div style="margin-top: 30px;">
        
        <div class="Lorem">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        
        <div class="main-dropdown">
          <select class="drop-down">
            <option value="">India</option>
            <option value="">USA</option>
            <option value="">UK</option>
          </select>
          <div class="underline-text"></div>
        </div>

        
        <div class="main-country">
          <div class="country-code">
            <p class="count-code">+91</p>
            <p class="underline-country"></p>
          </div>

          <div class="phone-wrapper">
            <input
              type="tel"
              maxlength="10"
              placeholder="Enter mobile number"
              [(ngModel)]="phoneNumber"
              name="phone"
              style="text-align: left;"
              pattern="[0-9]*"
              inputmode="numeric"
              (keypress)="allowOnlyNumbers($event)" />
            <p class="underline-country"></p>
          </div>
        </div>

        
        <p *ngIf="phoneNumber && !isPhoneValid()" class="required-line">
          Please enter a valid 10-digit mobile number.
        </p>
      </div>

  
      <div class="agree-div">
        <button [disabled]="!isPhoneValid()" (click)="onAgreeClick()">Agree & Continue</button>
      </div>
    </div>
  </ion-content>
</div>


<div id="recaptcha-container"></div>


<div *ngIf="showOtpPopup" class="otp-popup-wrapper">
  <div class="backgrounds">
    <div class="opt">
      <p>Enter Your OTP</p>
    </div>

    <div class="border-line"></div>

 
    <div class="otp-input">
      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 0)"
        (keydown)="handleBackspace($event, 0)" (paste)="$event.preventDefault()" #otp0>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 1)"
        (keydown)="handleBackspace($event, 1)" (paste)="$event.preventDefault()" #otp1>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 2)"
        (keydown)="handleBackspace($event, 2)" (paste)="$event.preventDefault()" #otp2>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 3)"
        (keydown)="handleBackspace($event, 3)" (paste)="$event.preventDefault()" #otp3>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 4)"
        (keydown)="handleBackspace($event, 4)" (paste)="$event.preventDefault()" #otp4>

      <input type="text" maxlength="1" pattern="[0-9]*" (input)="onOtpInput($event, 5)"
        (keydown)="handleBackspace($event, 5)" (paste)="$event.preventDefault()" #otp5>
    </div>

    
    <div class="submit" style="margin-bottom: 30px;">
      <button [disabled]="!isOtpComplete()" (click)="goToHome()">Submit</button>
    </div>
  </div>
</div> -->


<div [ngClass]="{ 'blurred': showOtpPopup }" class="Lorem-main">
  <ion-header [translucent]="true" class="background" style="padding-top: 30px;">
    <ion-toolbar>
      <ion-title>Enter Your Mobile Number</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="Lorem-main">
      <div style="margin-top: 30px;">

        <div class="Lorem">
          <p>TellDemm will need to verify your account. What's my number?</p>
        </div>

        <!-- Country Selection Dropdown -->
        <!-- <div class="main-dropdown">
          <select class="drop-down" (change)="onCountryChange($event)">
            <option *ngFor="let c of countries" [value]="c.name">{{ c.name }}</option>
          </select>
          <div class="underline-text"></div>
        </div> -->

        <!-- Phone Number Input -->
        <div class="main-country">
          <div class="country-code">
            <p class="count-code">{{ countryCode }}</p>
            <p class="underline-country"></p>
          </div>

          <div class="phone-wrapper">
            <input type="tel" maxlength="10" placeholder="Enter mobile number" [(ngModel)]="phoneNumber" name="phone"
              style="text-align: left;" pattern="[0-9]*" inputmode="numeric" (keypress)="allowOnlyNumbers($event)" />
            <p class="underline-country"></p>
          </div>
        </div>

        <p *ngIf="phoneNumber && !isPhoneValid()" class="required-line">
          Please enter a valid 10-digit mobile number.
        </p>

        <div class="email-wrapper" style="margin-top: 20px;">
  <input type="email" placeholder="Enter your email" [(ngModel)]="email" name="email"
    class="email-input" style="text-align: left;" />
  <p class="underline-country"></p>
</div>

<p *ngIf="email && !isEmailValid()" class="required-line">
  Please enter a valid email address.
</p>
      </div>

      <!-- Submit Button -->
      <!-- <div class="agree-div">
        <button [disabled]="!isPhoneValid()" (click)="onAgreeClick()">Agree & Continue</button>
      </div> -->

      <div class="agree-div">
        <!-- <button [disabled]="!isPhoneValid() || isSendingOtp" (click)="onAgreeClick()"> -->
          <button [disabled]="!isPhoneValid() || !isEmailValid() || isSendingOtp" (click)="onAgreeClick()">
          <ng-container *ngIf="!isSendingOtp">Agree & Continue</ng-container>
          <ion-spinner *ngIf="isSendingOtp" name="crescent" color="light"></ion-spinner>
        </button>
      </div>

    </div>
  </ion-content>
  <ion-modal [isOpen]="showConfirmPopup" class="confirm-popup">
    <ng-template>
      <div class="popup-container">
        <p class="popup-message">Is this your mobile number?</p>
        <h2 class="popup-number">{{ countryCode + phoneNumber }}</h2>

        <div class="popup-buttons">
          <button class="popup-btn edit" (click)="onEdit()">Edit</button>
          <button class="popup-btn ok" (click)="onConfirm()">OK</button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</div>

<!-- otp modal open from here -->
<div *ngIf="showOtpPopup" class="otp-popup-wrapper">
  <div class="backgrounds">
    <div class="opt">
      <p>Enter Your OTP</p>
    </div>

    <div class="border-line"></div>

    <div class="otp-input">
  <input type="tel" inputmode="numeric" maxlength="1" pattern="[0-9]*"
    (input)="onOtpInput($event, 0)" (keydown)="handleBackspace($event, 0)"
    (paste)="$event.preventDefault()" #otp0 />
  <input type="tel" inputmode="numeric" maxlength="1" pattern="[0-9]*"
    (input)="onOtpInput($event, 1)" (keydown)="handleBackspace($event, 1)"
    (paste)="$event.preventDefault()" #otp1 />
  <input type="tel" inputmode="numeric" maxlength="1" pattern="[0-9]*"
    (input)="onOtpInput($event, 2)" (keydown)="handleBackspace($event, 2)"
    (paste)="$event.preventDefault()" #otp2 />
  <input type="tel" inputmode="numeric" maxlength="1" pattern="[0-9]*"
    (input)="onOtpInput($event, 3)" (keydown)="handleBackspace($event, 3)"
    (paste)="$event.preventDefault()" #otp3 />
  <input type="tel" inputmode="numeric" maxlength="1" pattern="[0-9]*"
    (input)="onOtpInput($event, 4)" (keydown)="handleBackspace($event, 4)"
    (paste)="$event.preventDefault()" #otp4 />
  <input type="tel" inputmode="numeric" maxlength="1" pattern="[0-9]*"
    (input)="onOtpInput($event, 5)" (keydown)="handleBackspace($event, 5)"
    (paste)="$event.preventDefault()" #otp5 />
</div>


    <div class="submit" style="margin-bottom: 10px;">
      <button [disabled]="!isOtpComplete() || isVerifyingOtp" (click)="goToHome()">
        <ng-container *ngIf="!isVerifyingOtp">Submit</ng-container>
        <ion-spinner *ngIf="isVerifyingOtp" name="crescent"></ion-spinner>
      </button>
    </div>


    <div class="resend-section">
      <p>Didn't receive code?</p>
      <p>
        <span [style.color]="timer === 0 ? '#6e1911' : '#888'" (click)="resendOtp()"
          [style.pointerEvents]="timer === 0 ? 'auto' : 'none'">
          Resend
        </span> - {{ getFormattedTime() }}
      </p>
    </div>

  </div>
</div>