<ion-header [translucent]="true">
  <ion-toolbar class="telldemm">
    <ion-title>
      <img src="assets/images/TELLDEMM.svg" />
    </ion-title>

    <ion-buttons slot="end">
      <!-- <ion-button (click)="startScan()">
        <img src="assets/images/qr-code.svg" />
      </ion-button>

      <p *ngIf="scannedResult">Scanned QR: {{ scannedResult }}</p> -->
      <!-- <ion-button>
        <img src="assets/images/qr-code.svg" />
      </ion-button> -->
      <ion-button>
        <img src="assets/images/qr-code.svg" />
      </ion-button>
      <ion-button (click)="openCamera()">
        <img src="assets/images/camera.svg" />
      </ion-button>

      <div class="gallery-scroll">
        <img *ngFor="let image of galleryImages" [src]="image" class="thumb" />
      </div>

      <!-- <ion-button (click)="takePicture()">
        <img src="assets/images/camera.svg" />
      </ion-button>
      <img [src]="capturedImage" *ngIf="capturedImage" /> -->
      
      <ion-button (click)="presentPopover($event)">
        <img src="assets/images/dots (1).svg" />

      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>

    <div class="main-header">
      <div class="container">
        <input type="text" id="searchInput" [(ngModel)]="searchText" placeholder="Ask Meta AI or Search" />
      </div>
    </div>

    <div class="main-filters">
      <div class="filters">
        <button class="filter-link" [ngClass]="{ 'active-filter': selectedFilter === 'all' }"
          (click)="setFilter('all')">ALL</button>
        <button class="filter-link" [ngClass]="{ 'active-filter': selectedFilter === 'read' }"
          (click)="setFilter('read')">Read</button>
        <button class="filter-link" [ngClass]="{ 'active-filter': selectedFilter === 'unread' }"
          (click)="setFilter('unread')">Unread</button>
        <button class="filter-link" [ngClass]="{ 'active-filter': selectedFilter === 'groups' }"
          (click)="setFilter('groups')">Groups</button>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-item *ngFor="let chat of filteredChats" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <img src="assets/images/user.jfif" />
      </ion-avatar>
      <ion-label>
        <p class="chat-message">{{ chat.name }}</p>
        <p [style.color]="chat.unread ? '#FF1414' : '#444343'">
          <ng-container [ngSwitch]="chat.messageStatus">
            <img *ngSwitchCase="'sent'" src="assets/images/read.svg" class="tick-icon" alt="Sent" />
            <img *ngSwitchCase="'seen'" src="assets/images/double-tick.svg" class="tick-seen" alt="Seen" />
          </ng-container>
          {{ chat.message }}
        </p>
      </ion-label>
      <div slot="end" class="chat-meta">
        <p class="time">{{ chat.time }}</p>
        <ion-badge *ngIf="chat.unread">{{ chat.unreadCount }}</ion-badge>
      </div>
    </ion-item>
  </ion-list>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div class="icon-image">
      <img src="assets/images/user.svg" />
    </div>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div class="icon-image" (click)="goToContact()">
      <img src="assets/images/user.svg" />
    </div>
  </ion-fab>


</ion-content>

<app-footer-tabs [totalUnreadCount]="totalUnreadCount"></app-footer-tabs>